#editor
.vscode

#yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#example
/example/.yarn/*
!/example/.yarn/cache
!/example/.yarn/patches
!/example/.yarn/plugins
!/example/.yarn/releases
!/example/.yarn/sdks
!/example/.yarn/versions